@import '../utilities';
@import '../colors';

// Login & Register
// ================================================================

body.login {
    background: url('../../images/background-pattern_01.jpg') #f1f1f1;

    div#login {
        h1 a {
            background: url('../../images/logo-white.png') center no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
        }

        form#loginform {
            border-radius: 3px;
            box-shadow: none !important;
            padding: 24px;

            p label {
                color: color('dark');
                font-weight: 400;
            }

            input {
                border: none;
            }
        }

        p {
            &#nav a,
            &#backtoblog a {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
