@import '../utilities';
@import '../colors';

// Login & Register
// ================================================================

body.login {
    background: url('../images/pattern.jpg') #f1f1f1;

    div#login {
        h1 a {
            width: 100%;
            background: url('../images/login.png') center no-repeat;
        }

        form#loginform {
            padding: 24px;
            box-shadow: none !important;
            border-radius: 3px;

            p label {
                color: color('dark');
                font-weight: 400;
            }

            input {
                border: none;
            }
        }

        p {
            &#nav a,
            &#backtoblog a {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
