// Fonts
// ================================================================

$fonts: (
    body: #{'Open Sans',
    Helvetica,
    Arial,
    sans-serif},
    heading: #{'Montserrat',
    sans-serif}
);

*,
*:focus {
    box-sizing: border-box;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;

    &.alignright {
        margin: 0 0 20px 20px;
        float: right;
    }

    &.alignleft {
        margin: 0 20px 20px 0;
        float: left;
    }

    &.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

body {
    background: white;
    color: color('dark');
    font-family: font('body');
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
}

button,
.button {
    @extend %button;
}
