// Colors
// ================================================================

$colors: (
    one: #113751,
    two: #f5c71f,
    three: #0085ba,
    light: #e5e5e5,
    medium: #475058,
    dark: #23282d,
);

$phos: (
    one: #f5c71f,
    two: #113751,
    three: #0a192c,
);

$wordpress: (
    one: #0085ba,
    two: #006799,
    three: #32373c,
    four: #23282d,
);
