// Colors
// ================================================================

$colors: (
    one: #113751,
    two: #f5c71f,
    three: #0085ba,
    light: #e5e5e5,
    medium: #475058,
    dark: #23282d,
);
