.flex-block {
    // ===========================================================
    // Block Styling
    // ===========================================================
    &.flex-content {
        .container {
            section{
                border-left: 3px solid color(dark);
                padding-left: 52px;
                
                h2{
                    border-left: 0;
                    padding: 0;
                }
                h3 {
                    margin-bottom: 40px;
                }
            }
        }
    }
    &.flex-content-image {
        position: relative;

        .container {
            display: block;
            
            @include breakpoint(950px up){
                align-items: stretch;
                display: flex;
                flex-wrap: nowrap;
            }
            section{
                border-left: 3px solid color(dark);
                margin-bottom: 36px;
                padding-left: 52px;

                @include breakpoint(950px up){
                    margin-bottom: 0;
                }
            }
            .column {
                flex: 1;
                vertical-align: top;
                
                .image-wrapper {
                    background-position: center;
                    background-size: cover;
                    height: 400px;
                    width: 100%;
                    
                    @include breakpoint(950px up){
                        height: 100%;
                    }
                }
            }
        }
        &.img-position-left{
            .container{
                flex-direction: row-reverse;

                aside{
                    padding-right: 36px;
                }
            }
            &.flush-yes{
                .container{
                    aside{
                        left: 0;
                        padding-right: 0;
                        right: unset;
                    }
                }
            }
        }
        &.flush-yes{
            .container{
                section{

                    @include breakpoint(950px up){
                        flex: unset;
                        width: 66%;
                    }
                }
                aside{
                    width: 100%;
                    
                    @include breakpoint(950px up){
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 33%;
                    }
                }
            }
        }
    }
    &.flex-carousel-slider {
        .container {
            .swiper {
                margin-top: 40px;

                @include breakpoint(769px up) {
                    margin-top: 80px;
                }
                .swiper-wrapper {
                    .swiper-slide {
                        padding: 0 40px;
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    color: color(two);
                    transition: color 0.2s;

                    &:hover {
                        color: color(three);
                    }
                    &::after {
                        font-size: 28px;
                    }
                }
                .swiper-button-prev {
                    left: 0;
                }
                .swiper-button-next {
                    right: 0;
                }
                &.slider-type-carousel {
                    .swiper-wrapper {
                        .swiper-slide {
                            background-color: color(light);
                            border-radius: 10px;
                            padding: 20px;

                            p {
                                color: color(one);
                            }
                        }
                    }
                }
            }
        }
    }
    &.flex-large-image-slider {
        .swiper.photo-slider {
            .swiper-wrapper {
                .swiper-slide {
                    align-items: stretch;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column-reverse;

                    @include breakpoint(769px up) {
                        align-items: stretch;
                        display: flex;
                        flex-direction: unset;
                        min-height: 670px;
                    }
                    section {
                        background-color: color(one);
                        padding: 80px 20px 40px;

                        @include breakpoint(769px up) {
                            min-height: 650px;
                            padding: 80px 60px;
                            width: 40%;
                        }
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: white;
                            font-weight: 600;
                        }
                        a.button {
                            color: white;
                            margin-top: 20px;
                        }
                    }
                    aside {
                        background-position: center;
                        background-size: cover;
                        height: 300px;
                        width: 100%;

                        @include breakpoint(769px up) {
                            // height: 550px;
                            height: auto;
                            width: 60%;
                        }
                    }
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                color: white;
                position: absolute;
                top: 325px;
                z-index: 10;

                @include breakpoint(600px up) {
                    top: 25%;
                }
                @include breakpoint(769px up) {
                    bottom: 37px;
                    top: unset;
                }
                &:after {
                    font-family: 'Font Awesome 5 Pro';
                    font-size: 30px;

                    @include breakpoint(769px up) {
                        font-size: 22px;
                    }
                }
            }
            .swiper-button-next {
                right: 10px;

                @include breakpoint(769px up) {
                    // left: calc(50% - 200px);
                    right: calc(60% + 80px);
                }
                @include breakpoint(1080px up) {
                    right: calc(60% + 200px);
                }
                &:after {
                    content: '\f061';
                }
            }
            .swiper-button-prev {
                left: 10px;

                @include breakpoint(769px up) {
                    left: 60px;
                }
                @include breakpoint(1080px up) {
                    left: 100px;
                }
                &:after {
                    content: '\f060';
                }
            }
            .swiper-pagination {
                color: white;
                position: absolute;
                top: 310px;
                z-index: 1;

                @include breakpoint(769px up) {
                    bottom: 47px;
                    color: color(dark);
                    width: 35%;
                }
            }
        }
    }
    &.flex-testimonial-slider {
        background-color: white;
        background-image: url('../../images/lightbg.png');

        .container {
            text-align: center;

            h2 {
                margin-bottom: 40px;
            }
            .swiper.testimonial-slider {
                border-top: 3px solid color(dark);
                border-bottom: 3px solid color(dark);

                .swiper-slide {
                    padding: 0 52px;

                    h4 {
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 20px;

                        @include breakpoint(950px up){
                            font-size: 32px;
                            line-height: 52px;
                        }
                        strong {
                            font-style: italic;
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    color: color(dark);
                    top: 50%;

                    &:after {
                        font-size: 30px;
                        font-weight: 900;
                        
                        @include breakpoint(769px up){
                            font-size: 40px;
                        }
                    }
                }
                .swiper-pagination {
                    bottom: -5px;

                    .swiper-pagination-bullet,
                    .swiper-pagination-bullet-active {
                        background-color: color(dark);
                    }
                }
            }
        }
    }
    &.flex-dark-cta-block{
        background-image: url('../../images/background-pattern_01.jpg');
        background-size: 25%;
        color: white;

        .container{
            text-align: center;
            width: 950px;

            h2, h3, h4, h5, h6{
                color: white;
            }
            section{
            }
        }
    }
    &.flex-gallery-grid{
        .container{
            .gallery-grid{
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                gap: 36px;
                justify-content: center;
                text-align: center;

                .gallery-img{
                    background-position: center;
                    background-size: cover;
                    flex: 100%;
                    max-width: 100%;

                    @include breakpoint(950px up){
                        flex: calc(33% - 36px);
                        max-width: calc(33% - 36px);
                    }
                }
            }
        }
    }
    &.flex-gallery-carousel{
        .container{
            .gallery-carousel{
                .swiper-slide{
                    background-position: center;
                    background-size: cover;
                    height: 361px;

                    @include breakpoint(950px up){
                        height: 584px;
                    }
                }
            }
        }
    }
    &.flex-featured-content-slider {
        .container-lg {
            .swiper.featured-content-slider {
                padding: 0 20px;

                @include breakpoint(769px up) {
                    padding: 0 40px;
                }
                @include breakpoint(1020px up) {
                    padding: 0 80px;
                }
                .swiper-slide {
                    padding: 80px 20px;

                    @include breakpoint(1020px up) {
                        padding: 100px 40px;
                    }
                    section {
                        padding: 20px;
                        text-align: center;

                        @include breakpoint(769px up) {
                            padding: 40px;
                        }
                        @include breakpoint(1020px up) {
                            margin: 0 auto;
                            max-width: 50%;
                        }
                    }
                }
                .swiper-button-next,
                .swiper-button-prev {
                    color: color(dark);
                    transition: color 0.2s;

                    &:after {
                        font-size: 32px;

                        @include breakpoint(769px up) {
                            font-size: 45px;
                        }
                    }
                    &:hover {
                        color: color(two);
                    }
                }
            }
        }
    }
    &.flex-testimonial-cards {
        .container {
            h2 {
                margin-bottom: 40px;
                text-align: center;
            }
            .swiper.testimonial-cards {
                padding: 0 40px;

                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    border-radius: 40px;
                    overflow: hidden;
                    padding: 40px 20px;
                    text-align: center;

                    img {
                        margin-bottom: 40px;
                        max-width: 60px;
                        opacity: 0.6;
                        position: relative;
                        z-index: 10;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                .swiper-button-next,
                .swiper-button-prev {
                    color: color(dark);
                    transition: color 0.2s;

                    &:after {
                        font-size: 32px;

                        @include breakpoint(769px up) {
                            // font-size: 45px;
                        }
                    }
                    &:hover {
                        color: color(two);
                    }
                }
                .swiper-button-next {
                    @include breakpoint(1020px up) {
                        right: 0;
                    }
                }
                .swiper-button-prev {
                    @include breakpoint(1020px up) {
                        left: 0;
                    }
                }
            }
        }
    }
    &.flex-home-hero {
        background-position: center;
        background-size:cover;
        height: 584px;
        width: 100%;
        
        @include breakpoint(950px up){
            height: 871px;
        }
        .hero-vid-wrapper{
            display: none;
            height: 100%;
            margin-top: -20px;
            overflow: hidden;
            position: relative;
            width: 100%;

            @include breakpoint(769px up){
                display: block;
            }
            video{
                height: 100%;
                left: -15%;
                position: absolute;
                top: 0;
                width: 125%;
                
                @include breakpoint(950px up){
                    height: 100%;
                    left: -50%;
                    width: 156%;
                }
                @include breakpoint(1076px up){
                    left: -33%;
                }
                @include breakpoint(1394px up){
                    left: -10%;
                    width: 120%;
                }
                @include breakpoint(1544px up){
                    height: 125%;
                    left: 0;
                    margin-top: -6%;
                    width: 100%;
                }
            }
        }
        section.hero-content{
            background-color: white;
            bottom: 138px;
            left: 0;
            padding: 52px 20px 58px;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 100;
            
            @include breakpoint(900px up){
                bottom: 223px;
                text-align: left;
                width: calc(100% - 138px);
            }
            @include breakpoint(1080px up){
                width: calc(100% - 223px);
            }
            @include breakpoint(1300px up){
                padding: 52px 0px 58px 138px;
                width: calc(100% - 361px);
            }
            @include breakpoint(1500px up){
                padding: 52px 0px 58px 223px;
            }
            &:before, &:after{
                background-color: white;
                content: '';
                display: block;
                height: 3px;
                left: 26px;
                position: absolute;
                width: calc(100% - 52px);
                
                @include breakpoint(900px up){
                    left: 0;
                    width: calc(100% - 32px);
                }
            }
            &:before{
                top: -20px;
            }
            &:after{
                bottom: -20px;
            }
            h3{
                margin-bottom: 0;
            }
        }
    }
    &.flex-home-services{
        background-color: color(medium);

        .home-services-blocks{
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            gap: 52px;
            margin-bottom: 52px;

            @include breakpoint(900px up){
                gap: 52px;
            }
            a.service-block{
                background-position: center;
                background-size: cover;
                flex: 100%;
                padding: 32px;
                text-align: center;

                @include breakpoint(900px up){
                    flex: 45%;
                }
                &:hover{
                    &.overlay{
                        &:after{
                            background-color: transparent;
                        }
                    }
                    &:before, &:after{
                        left: 0;
                        width: 100%;
                    }
                    &:before{
                        top: 0;
                    }
                    &:after{
                        top: 100%;
                    }
                }
                &:before, &:after{
                    background-color: white;
                    content: '';
                    display: block;
                    height: 3px;
                    left: 52px;
                    position: absolute;
                    width: calc(100% - 104px);
                    transition: all 0.2s;
                }
                &:before{
                    top: 32px;
                }
                &:after{
                    top: calc(100% - 32px);
                }
                .service-block-content{
                    // border-top: 3px solid white;
                    // border-bottom: 3px solid white;
                    padding: 52px;
                    position: relative;
                    z-index: 100;

                    img{
                        margin-bottom: 32px;
                    }
                    h2{
                        color: white;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    // ===========================================================
    // Misc Styling
    // ===========================================================
    h2{
        border-left: 3px solid color(dark);
        padding-left: 52px;

        &.no-hborder{
            border-left: 0;
            padding-left: 0;
        }
    }
}
