// Includes
// ================================================================

.mobile {
    display: none;

    @include breakpoint(769px down) {
        display: block;
        width: 100%;
    }

    .topbar {
        cursor: pointer;
        padding: 10px 15px;
        background: color('three');

        i.fa {
            color: color('one');
            margin: 0 10px 0 0;
        }

        span {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            @include transition(0.12s);
        }

        &:hover {
            span {
                color: color('one');
            }
        }
    }

    .block {
        display: none;
        background: color('two');

        form {
            padding: 15px;
            margin: 0 auto 25px;

            [type='search'] {
                color: white;
                width: calc(100% - 63px);
                font-size: 16px;
                float: left;
                padding: 8px;
                display: inline-block;
                background: transparentize(white, 0.92);
                border: none;
                @include transition(0.25s);

                &::placeholder {
                    color: white;
                }

                &:focus {
                    color: color('three');
                    background: white;

                    &::placeholder {
                        color: color('three');
                    }
                }
            }

            button {
                float: right;
                display: inline-block;
                background: color('three');

                &:hover {
                    background: color('one');
                }
            }
        }

        ul {
            padding: 5px 0;
            background: color('two');

            li {
                &.parent {
                    span {
                        cursor: pointer;
                        padding: 10px 5px 10px 17px;
                        display: inline-block;

                        i.fa {
                            color: white;
                            @include transition(0.1s);
                        }

                        &:hover {
                            i.fa {
                                color: color('one');
                            }
                        }

                        &.selected {
                            i.fa {
                                color: color('one');
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                a {
                    cursor: pointer;
                    color: white;
                    padding: 5px 15px;
                    display: inline-block;
                    @include transition(0.08s);

                    &:hover {
                        color: color('one');
                    }
                }

                .dropdown {
                    padding: 0;
                    margin: 0 0 0 30px;
                    display: none;
                }
            }
        }
    }
}

.featured {
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 80px transparentize(black, 0.8);
    width: 100%;

    .container {
        @extend %container;
        text-align: center;
        padding: 80px 0;

        h1 {
            color: white;
            margin: 0;
        }
    }

    &.alt {
        .container {
            padding: 40px 0;
        }
    }
}
.overlay {
    position: relative;

    &:after {
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    main {
        position: relative;
        z-index: 10;
    }
}
.breadcrumbs {
    background: color('light');

    .container {
        padding: 5px 0;

        span {
            font-size: paragraph('font-size') - 2px;
        }
    }
}

.pagination {
    clear: both;
    font-size: paragraph('font-size') / 1.2;
    line-height: 13px;
    padding: 20px 0;
    position: relative;

    span {
        background: color('one');
        color: white;
        display: block;
        float: left;
        margin: 5px 5px 5px 0;
        padding: 16px 19px 15px 19px;
        text-decoration: none;

        @include clearfix;
    }

    a {
        background: color('one');
        color: white !important;
        display: block;
        float: left;
        margin: 5px 5px 5px 0;
        padding: 16px 19px 15px 19px;
        text-decoration: none;
        width: auto;

        &:hover {
            background: color('two');
            color: white;
        }
    }

    .current {
        background: color('two');
        color: white;
        padding: 16px 19px 15px 19px;
    }
}
.container{
    @extend %container;
}