// Placeholders
// ================================================================
%container {
    margin: 0 auto;
    max-width: 100%;
    width: 1592px;
}
%container-full {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
%horizontal-padding {
    padding-left: 20px;
    padding-right: 20px;

    @include breakpoint(769px up) {
        padding-left: 32px;
        padding-right: 32px;
    }
}
%vertical-padding {
    padding-top: 85px;
    padding-bottom: 85px;

    @include breakpoint(769px up) {
        padding-top: 132px;
        padding-bottom: 132px;
    }
}
%button {
    background-color: transparent;
    border: 3px solid color(dark);
    color: color(dark);
    cursor: pointer;
    display: inline-block;
    margin: 32px auto;
    padding: 14px 52px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    z-index: 10;

    &:hover {
        border-color: transparent;
        color: color(dark);
        padding-left: 38px;
        padding-right: 38px;

        &:before{
            border-color: color(dark);
            height: 100%;
            top: -3px;
        }
    }
    &:before {
        background-color: transparent;
        border-top: 3px solid color(dark);
        border-bottom: 3px solid color(dark);
        content: '';
        display: block;
        height: calc(100% + 23px);
        position: absolute;
        pointer-events: none;
        width: calc(100% - 28px);
        transition: all 0.1s;
        z-index: 0;
    }
    &:before{
        left: 14px;
        top: -14px;
    }
    &:after{
        background-color: white;
        content: '';
        display: block;
    }
    &.button-white{
        border-color: white;
        color: white;

        &:hover{
            border-color: transparent;
            color: white;

            &:before{
                border-color: white;
            }
        }
        &:before{
            border-color: white;
        }
    }
}

%ul {
    display: block;
    margin: 0 0 40px 0;

    li {
        list-style: none;
        list-style-position: inside;
        margin: 0 0 10px 0;
        padding: 0 0 0 20px;
        position: relative;

        &:before {
            background: color('one');
            border-radius: 100%;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            top: 11px;
            width: 6px;
        }

        ul {
            margin: 10px 0 0 0;

            li {
                list-style: none;
                list-style-position: inside;
                margin: 0 0 10px 0;
                padding: 0 0 0 20px;
                position: relative;

                &:before {
                    display: none;
                }
                &:after {
                    content: '•';
                    color: color(three);
                    top: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }
    }
}

%ol {
    display: block;
    margin: 0 0 40px 20px;

    li {
        margin: 0 0 10px 0;
        padding: 0 0 0 0;
        position: relative;
    }
    ol {
        list-style-type: lower-roman;
        margin: 10px 0 0 20px;
    }
}
