// Body & Typography
// ================================================================

// H1-H6
// map-deep-get($map, $key, $value)
// ================================================================
$heading: (
    color: (
        'h1': color(dark),
        'h2': color(dark),
        'h3': color(three),
        'h4': color(dark),
        'h5': color(dark),
        'h6': color(dark),
    ),
    desktop: (
        'h1': 80px,
        'h2': 60px,
        'h3': 50px,
        'h4': 30px,
        'h5': 25px,
        'h6': 20px,
    ),
    tablet: (
        'h1': 70px,
        'h2': 50px,
        'h3': 40px,
        'h4': 35px,
        'h5': 22px,
        'h6': 20px,
    ),
    mobile: (
        'h1': 60px,
        'h2': 40px,
        'h3': 30px,
        'h4': 25px,
        'h5': 20px,
        'h6': 16px,
    ),
    font-family: (
        'h1': font('heading'),
        'h2': font('heading'),
        'h3': font('body'),
        'h4': font('heading'),
        'h5': font('heading'),
        'h6': font('heading'),
    ),
    font-style: (
        'h1': normal,
        'h2': normal,
        'h3': normal,
        'h4': normal,
        'h5': normal,
        'h6': normal,
    ),
    font-weight: (
        'h1': 700,
        'h2': 700,
        'h3': 400,
        'h4': 700,
        'h5': 700,
        'h6': 700,
    ),
    line-height: 1.1,
    letter-spacing: 0,
    margin-bottom: (
        'h1': 15px,
        'h2': 15px,
        'h3': 15px,
        'h4': 15px,
        'h5': 15px,
        'h6': 15px,
    ),
    text-transform: (
        'h1': none,
        'h2': none,
        'h3': none,
        'h4': none,
        'h5': none,
        'h6': none,
    ),
) !default;

// text highlight color
::selection {
    color: white;
    background: color(two);
}

@for $h from 1 through 6 {
    h#{$h} {
        color: map-deep-get($heading, 'color', h#{$h});
        font-size: map-deep-get($heading, 'mobile', 'h#{$h}');
        font-family: map-deep-get($heading, 'font-family', 'h#{$h}');
        font-style: map-deep-get($heading, 'font-style', 'h#{$h}');
        font-weight: map-deep-get($heading, 'font-weight', h#{$h});
        line-height: heading('line-height');
        margin: 0;
        margin-bottom: map-deep-get($heading, 'margin-bottom', h#{$h});
        text-transform: map-deep-get($heading, 'text-transform', h#{$h});

        @include breakpoint(650px up) {
            font-size: map-deep-get($heading, 'tablet', 'h#{$h}');
        }

        @include breakpoint(1020px up) {
            font-size: map-deep-get($heading, 'desktop', 'h#{$h}');
        }
    }
}

*:focus {
    outline: 0 !important;
}

a {
    color: color(one);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: color('two');
    }
}

blockquote {
    background-color: color(light);
    border-left: 4px solid color(one);
    display: block;
    margin: 0 0 40px 0;
    padding: 30px;
}

figure {
    margin: 0;
}
hr {
    margin: 40px auto;
    border: 1px solid color('medium');
}
p {
    margin: 0 0 20px;
}
i,
em {
    font-style: italic;
}
pre {
    background: color(dark);
    border-radius: 6px;
    color: white;
    font-family: Courier, 'New Courier', monospace;
    font-size: 16px;
    padding: 15px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
