- get_header()

footer
	.container.aside-left.hrz-padding
		aside
			.footer-logo
				a(href="<?php echo esc_url( home_url('/') ) ;?>")
					img(src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo.png" alt="<?php bloginfo('name') ?> Logo")
		section
			- footer_menu()

	.copyright
		.container
			- site_info()

- wp_footer()

</body>
</html>