- get_header()

section.footer-cta.hrz-padding
	.container.content-block
		section 
			- echo get_field('footer_cta_content', 'options')
			- if(get_field('footer_cta_button', 'options')) :
				a.button(
					href="<?= get_field('footer_cta_button', 'options')['url'];?>" 
					target="<?= get_field('footer_cta_button', 'options')['target'];?>"
					) 
					- echo get_field('footer_cta_button', 'options')['title']
			- endif

		aside
			- if(get_field('footer_cta_form_title', 'options')):
				h2: - echo get_field('footer_cta_form_title', 'options')
			- endif
			- if(get_field('footer_cta_form_embed', 'options')) :
				- echo get_field('footer_cta_form_embed', 'options')
			- endif

footer.hrz-padding
	.container
		aside
			.footer-logo
				a(href="<?php echo esc_url( home_url('/') ) ;?>")
					img(
						src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo-white.png" 
						alt="<?php bloginfo('name') ?> Logo"
						)
		section
			- include('includes/social-links.php')
	.container.footer-locations
		- $loc_args = array('post_type'=>'locations', 'posts_per_page'=>-1)
		- $loc_loop = new WP_Query($loc_args)
		- if ($loc_loop -> have_posts()):
			- while ($loc_loop -> have_posts()): $loc_loop -> the_post()
				.footer-location
					h3: - echo get_the_title()
					- $phone_raw = get_field('location_phone_number')
					- $phone = str_replace([" ", "(", ")", "-"], "", $phone_raw)
					a.location-phone(href="tel:<?= $phone ?>" target="_blank") 
						- echo get_field('location_phone_number')
			- endwhile
			- wp_reset_postdata()
		-endif
	.copyright
		.container
			section 
				p &copy; Copyright <?= date('Y'); ?>, <?= get_bloginfo('name') ?>
			aside 
				- footer_menu()

- wp_footer()

</body>
</html>