- get_header()
- if(get_field('footer_CTA', 'options') == "on"): 
	section.footer-cta.hrz-padding
		.container.content-block
			- echo get_field('footer_cta_content', 'options')
			- if(get_field('footer_cta_button', 'options')) :
				a.button(
					href="<?= get_field('footer_cta_button', 'options')['url'];?>" 
					target="<?= get_field('footer_cta_button', 'options')['target'];?>"
					) 
					- echo get_field('footer_cta_button', 'options')['title']
			- endif
- endif

footer.hrz-padding
	.container
		aside
			.footer-logo
				a(href="<?php echo esc_url( home_url('/') ) ;?>")
					img(
						src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo-white.png" 
						alt="<?php bloginfo('name') ?> Logo"
						)
			- include('includes/contact-info.php')
		section
			- include('includes/social-links.php')
			.footer-menu
				- footer_menu()

	.copyright
		.container
			- site_info()

- wp_footer()

</body>
</html>