- get_header()

#front
    #hero
        .container
            h3 NOTE:
            p Be sure to update the variable in line 23 of gulpfile.babel.js file to be set to the current site's URL.
            p
                | We are enqueueing the free version of FontAwesome. If the pro version is needed, change 'use' to 'pro' and be sure to whitelist the URL of this project on 
                a(href="https://fontawesome.com/start" style="") Font Awesome

- get_footer()