- get_header()

#front
    #hero.content-block.hrz-padding
        .container
            h3 NOTES:
            ul 
                li 
                    p Be sure to update the variable in line 23 of gulpfile.babel.js file to be set to the current site's URL.
- get_footer()