doctype html
<html <?php language_attributes(); ?>>
head
    meta(charset="<?php bloginfo( 'charset' ); ?>")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=11")

    link(type="image/gif" href="<?php echo esc_url(get_theme_file_uri()) ?>/favicon.png" rel="icon" sizes="16x16")

    - wp_head()

<body <?php body_class(); ?>>

- wp_body_open();

.mobile
    .topbar
        i.fa.fa-bars
        span Menu

    .block
        - if (get_field('search', 'options') == 'show') :
            - get_search_form()
        - endif

        - mobile_menu()

.masthead
    .container
        a(href="tel:>") 111-222-3333

header
    .container
        .logo
            a(href="<?php echo esc_url(home_url('/')) ?>")
                img(src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo.png" alt="<?php bloginfo('name') ?> Logo")

        .menu
            nav
                - header_menu()

- if (! (is_front_page() || is_404())) :
    - include('includes/featured.php')
    - include('includes/breadcrumbs.php')
- endif
