- get_header()

article#search
    .container
        - if ( have_posts() ) :
            - while ( have_posts() ) : the_post()
                - include('includes/loop-post.php')
            - endwhile

            - pagination()
            - wp_reset_postdata()
        - endif

- get_footer()