- // Add your sidebar markup within php functions, then use if/else's to call them below.

//- - function sidebar_example() {
//-     div(class="sidebar hello")
//-         p Hello, world!
//- - }

div(id="sidebar")
    //- - sidebar_example()
