- get_header()

article#single
    .container.content-block
        - if (have_posts()) :
            - while (have_posts()) : the_post()
                - the_content()
            - endwhile

            - wp_reset_postdata()
        - else :
            - include('includes/loop_missing.php')
        - endif

- get_footer()