section.flex-block.flex-testimonial-slider.hrz-padding
	.container.content-block
		- if (have_rows('testimonials')) :
			.swiper.testimonial-slider
				.swiper-wrapper
					- while (have_rows('testimonials')) : the_row()
						.swiper-slide
							p: strong: - echo get_sub_field('testimonial')
							p: - echo get_sub_field('testimonial_name')
					- endwhile
				.swiper-button-prev
				.swiper-button-next
				//- .swiper-pagination
		- endif