//- Variables
- $heading = get_sub_field('heading')
- $content = get_sub_field('content')
- $bg_color = "bg-color-" . get_sub_field('background_color')

section.flex-block.flex-content.hrz-padding(class="<?= $bg_color ?>")
	.container.vert-padding
		- if($heading) :
			h2.no-hborder: - echo $heading
		- endif
		section
			- if(get_sub_field('content')): 
				- echo get_sub_field('content')
			- endif
			- if(get_sub_field('standard_button')): 
				a.button(
					href="<?php echo get_sub_field('standard_button')['url'];?>" 
					target="<?php echo get_sub_field('standard_button')['target'];?>")
					- echo get_sub_field('standard_button')['title']
			- endif
			- if(get_sub_field('alternate_button')): 
				a.button.button-ghost(
					href="<?php echo get_sub_field('alternate_button')['url'];?>" 
					target="<?php echo get_sub_field('alternate_button')['target'];?>")
					- echo get_sub_field('alternate_button')['title']
			- endif