- $bg_color = "bg-color-" . get_sub_field('background_color')
- $image_position = get_sub_field('image_position')
- $image_flush = get_sub_field('image_flush')
- $header = get_sub_field('header')
- $content = get_sub_field('content')
- $image = get_sub_field('image')
- $button = get_sub_field('button')

section.flex-block.flex-content-image.hrz-padding(class="<?= $bg_color; ?> img-position-<?= $image_position;?> spacing-<?= $spacing;?>")
	.container.columns.col-count-2
		section.column
			- if($header) :
				h2: - echo $header
			- endif

			- if($content) : 
				- echo $content
			- endif

			- if($button): 
				a.button(
					href="<?= $button['url']; ?>" 
					target="<?= $button['target']; ?>") 
					- echo $button['title']
			- endif
		aside.column
			- if($image) :
				.image-wrapper(
					style="background-image:url('<?= $image['url'];?>');"
					alt="<?= $image['alt'];?>")
			- endif