//- Variables
- $hero_title = get_sub_field('hero_title')
- $hero_subtitle = get_sub_field('hero_subtitle')
- $background = get_sub_field('hero_background_image')

section.flex-block.flex-home-hero.overlay(style="background-image:url('<?= $background['url']?>');" aria-label="<?= $background['alt']?>")
	- if(get_sub_field('hero_background_video')):
		.hero-vid-wrapper
			video(src="<?= get_sub_field('hero_background_video')['url'] ?>" autoplay="" muted="" playsinline="" loop="")
	- endif
		//- iframe(width="100%" height="100%" src="https://www.youtube.com/embed/TPNgB2R7q6E?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; modestbranding")
	section.hero-content
		- if($hero_title) :
			h2.no-hborder: - echo $hero_title
		- endif
		- if($hero_subtitle) :
			h3: - echo $hero_subtitle
		- endif