- // featured('title'), featured('image'), featured('alt')

div(class="featured overlay <?php featured('alt') ?>" style="background-image: url(<?php featured('image') ?>)")
    main
        div
            h1: - featured('title') 