- // featured('title'), featured('image'), featured('alt')

.featured.hrz-padding.overlay(style="background-image: url(<?php featured('image') ?>)")
    .container
        - if(is_singular('locations')):
            h1
                span Location
                - featured('title')
        - else :
            h1: - featured('title')
        - endif