- if ( have_rows('flex_editor') ) :;
    - while ( have_rows('flex_editor') ) : the_row();
        - flexContent()
        - flexContentAndImage()
        - flexGalleryGrid()
        - flexGalleryCarousel()
        - flexAccordion()
        - flexTestimonialSlider()
        - flexDarkCTA()
        - flexHomeHero()
        - flexHomeServices()
    - endwhile
- endif

- function flexContent() {
    - if ( 'content_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'content');
    - endif;
- }

- function flexContentAndImage() {
    - if ( 'content_and_image_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'content-image' );
    - endif;
- }

- function flexAccordion() {
    - if ( 'accordion_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'accordion' );
    - endif;
- }

- function flexGalleryGrid() {
    - if ( 'gallery_grid_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'gallery-grid' );
    - endif;
- }

- function flexGalleryCarousel() {
    - if ( 'gallery_carousel_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'gallery-carousel' );
    - endif;
- }

- function flexTestimonialSlider() {
    - if ( 'testimonial_slider_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'testimonial-slider' );
    - endif;
- }

- function flexDarkCTA() {
    - if ( 'dark_cta_block' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'dark-cta-block');
    - endif;
- }

- function flexHomeHero() {
    - if ( 'home_hero' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'home-hero');
    - endif;
- }

- function flexHomeServices() {
    - if ( 'home_services' === get_row_layout() ) :;
        - get_template_part( 'includes/flex/flex', 'home-services');
    - endif;
- }