- $email = 'alex@phoscreative.com'

section(class="missing")
    h2 Something's missing ...

    p There doesn't seem to be any content here. You can contact the <a href="mailto:<?php echo $email ?>">website administrator</a> or return to the previous page.

    a(href="javascript:history.back()" class="button return") Return